<%- include('includes/head') %> <%- include('includes/nav') %>
<section class="container-contato">
  <div class="titulo-contato">
    <h1>Contato</h1>
    <p>Crie ou edite o seu contato abaixo.</p>
  </div>

  <% if(errors.length > 0) { %> <% errors.forEach(function(error) { %>
  <div class="error-contato" role="alert"><%= error %></div>
  <% }) %> <% } %> <% if(success.length > 0) { %> <%
  success.forEach(function(success) { %>
  <div class="error-contato" role="alert"><%= success %></div>
  <% }) %> <% } %>

  <div class="contato">
    <% if(contato._id) {%>
    <form action="/contato/edit/<%= contato._id%>" method="post" class="card-contato form-contato">
    <% } else {%> 
    <form action="/contato/register" method="post" class="card-contato form-contato">
    <%}%>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="textfield">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="nome" value="<%= contato.nome %>"  />
      </div>
      <div class="textfield">
        <label for="sobrenome">Sobrenome</label>
        <input value="<%= contato.sobrenome %>" type="text" name="sobrenome" />
      </div>
      <div class="textfield">
        <label for="email">Email</label>
        <input type="email" name="email" class="email" value="<%= contato.email %>"  />
      </div>
      <div class="textfield">
        <label for="telefone">Telefone</label>
        <input type="tel" name="telefone" class="telefone" value="<%= contato.telefone %>"  />
      </div>
      <button class="btn-contato" type="submit">Adicionar</button>
    </form>
  </div>
</section>


<%- include('includes/footer') %>
