<%- include('includes/head') %> <%- include('includes/nav') %>

<!-- <!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modelo</title>
  </head>
  <body> -->
<!-- <header class="container-nav">
  <h1>Agenda</h1>
  <nav>
    <ul class="nav_links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </nav>
  <a class="cta" href="#"><button>entrar</button></a>
</header> -->
<section class="container">
  <div class="titulo-descrition">
    <h1>Registro</h1>
    <p>Abaixo estão todos os seus contatos.</p>
  </div>

  <% if(errors.length > 0) { %> <% errors.forEach(function(error) { %>
  <div class="error" role="alert"><%= error %></div>
  <% }) %> <% } %> <% if(success.length > 0) { %> <%
  success.forEach(function(success) { %>
  <div class="error" role="alert"><%= success %></div>
  <% }) %> <% } %>

  <table class="tabel">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Username</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Marcos Antonio Pereira Wlrich</td>
        <td>marcoswlrich</td>
        <td>marcoswlrich@gmail.com</td>
        <td>(65)99681-9987</td>
        <td>
          <button>editar</button>
          <button>excluir</button>
        </td>
      </tr>
      <tr>
        <td>Marcos</td>
        <td>marcoswlrich</td>
        <td>marcoswlrich@gmail.com</td>
        <td>(65)99681-9987</td>
        <td>
          <button>editar</button>
          <button>excluir</button>
        </td>
      </tr>
      <tr>
        <td>Marcos</td>
        <td>marcoswlrich</td>
        <td>marcoswlrich@gmail.com</td>
        <td>(65)99681-9987</td>
        <td>
          <button>editar</button>
          <button>excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<!-- 
    <script src="./assets/js/bundle.js"></script>
  </body>
</html> -->

<%- include('includes/footer') %>
