<%- include('includes/head') %> <%- include('includes/nav') %>

<!-- <!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modelo</title>
  </head>
  <body> -->
<!-- <header class="container-nav">
  <h1>Agenda</h1>
  <nav>
    <ul class="nav_links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </nav>
  <a class="cta" href="#"><button>entrar</button></a>
</header> -->
<section class="container">
  <div class="titulo-descrition">
    <h1>Olá <%= user.email %></h1>
    <p>Você precisa sair para criar outra conta</p>

    <% if(errors.length > 0) { %> <% errors.forEach(function(error) { %>
    <div class="error-log" role="alert"><%= error %></div>
    <% }) %> <% } %> <% if(success.length > 0) { %> <%
    success.forEach(function(success) { %>
    <div class="error-log" role="alert"><%= success %></div>
    <% }) %> <% } %>
  </div>
</section>
<!-- 
    <script src="./assets/js/bundle.js"></script>
  </body>
</html> -->

<%- include('includes/footer') %>
